body {
  background: #FFF;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

app-root {
	display: block;
    height: 100vh;
}

app-login {
	display: block;
    width: 50%;
    margin: 12em auto;
}

.mat-form-field {
	width: 100%;
}

.btn-add {
	top: -5px;
}

.mat-progress-spinner {
    height: 22px !important;
    width: 22px !important;
}
