<app-header accountId="{{accountId}}">
  </app-header>

  <md-sidenav-container>
    <md-sidenav mode="side" opened="true">
      <md-list>
        <h3 md-subheader>Instrument</h3>
        <md-list-item>
          <md-icon md-list-icon>timeline</md-icon>
          <h4 md-line>{{selectedInstrument}}</h4>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <div class="main-content">
      <md-card class="example-card">
        <md-card-header>
          <md-card-title>
            <md-select placeholder="Instrument" [(ngModel)]="selectedInstrument" name="instrument">
              <md-option *ngFor="let instrument of instruments" [value]="instrument.name">
                {{instrument.name}}
              </md-option>
            </md-select>
            
            <md-select placeholder="Granularities" [(ngModel)]="selectedGranularity" name="granularities">
              <md-option *ngFor="let granularity of granularities" [value]="granularity">
                {{granularity}}
              </md-option>
            </md-select>

            <span class="btn-wrapper">
              <button md-raised-button color="primary">Buy</button>
              <button md-raised-button color="accent">Sell</button>
            </span>
          </md-card-title>
        </md-card-header>
      </md-card>  
      <app-main class="main-content" 
        instrument={{selectedInstrument}} 
        granularity={{selectedGranularity}}>
        </app-main>
    </div>
  </md-sidenav-container>